@keyframes	fadein{
	0%{
		opacity: 0;
	}

	50%{
		opacity: 0.5;
	}

	100%{
		opacity: 1;
	}

}

.title {
	animation: fadein 3s;
	width: 500px;
	height: auto;
	position: absolute center;
	padding-left: 300px;

}